In [1]:
"""
Types of Statistics:

1) Theoretical Statistics

2) Applied Statistics
    1. Descriptive Statistics: 

        Descriptive statistics is a term given to the analysis of data that helps to describe, show and summarize data in a meaningful way. It is a simple way to describe our data. Descriptive statistics is very important to present our raw data ineffective/meaningful way using numerical calculations or graphs or tables. This type of statistics is applied to already known data. 

        Types of Descriptive Statistics:

            - Measure of Central Tendency: Mean, Median and Mode
            - Measure of Variability: Range, Variance, Standard Deviation

    2. Inferential Statistics:  

        In inferential statistics, predictions are made by taking any group of data in which you are interested. It can be defined as a random sample of data taken from a population to describe and make inferences about the population. Any group of data that includes all the data you are interested in is known as population. It basically allows you to make predictions by taking a small sample instead of working on the whole population.

        It can be achieved by probability.

Reference:
    - https://www.geeksforgeeks.org/difference-between-descriptive-and-inferential-statistics/

"""

'\nTypes of Statistics:\n\n1) Theoretical Statistics\n\n2) Applied Statistics\n    1. Descriptive Statistics: \n\n        Descriptive statistics is a term given to the analysis of data that helps to describe, show and summarize data in a meaningful way. It is a simple way to describe our data. Descriptive statistics is very important to present our raw data ineffective/meaningful way using numerical calculations or graphs or tables. This type of statistics is applied to already known data. \n\n        Types of Descriptive Statistics:\n\n            - Measure of Central Tendency: Mean, Median and Mode\n            - Measure of Variability: Range, Variance, Standard Deviation\n\n    2. Inferential Statistics:  \n\n        In inferential statistics, predictions are made by taking any group of data in which you are interested. It can be defined as a random sample of data taken from a population to describe and make inferences about the population. Any group of data that includes all the data you are interested in is known as population. It basically allows you to make predictions by taking a small sample instead of working on the whole population.\n\n        It can be achieved by probability.\n\nReference:\n    - https://www.geeksforgeeks.org/difference-between-descriptive-and-inferential-statistics/\n\n'

In [2]:
import pandas as pd
import numpy as np

df = pd.read_csv("income.csv", names= ["Name", "Income"], skiprows= [0])
df

        Name    Income
0        Rob      5000
1      Rafiq      6000
2       Nina      4000
3      Sofia      7500
4      Mohan      8000
5        Tao      7000
6  Elon Musk  10000000

In [3]:
df.describe()

             Income
count  7.000000e+00
mean   1.433929e+06
std    3.777283e+06
min    4.000000e+03
25%    5.500000e+03
50%    7.000000e+03
75%    7.750000e+03
max    1.000000e+07

In [4]:
df.Income.quantile(0.75, interpolation= "linear")

7750.0

In [5]:
df.Income.quantile(0.75, interpolation= "higher")

8000

In [6]:
df.Income.quantile(0.25)

5500.0

In [7]:
df.Income.quantile(0.25, interpolation= "lower")

5000

In [8]:
df.Income.quantile(1)

10000000.0

In [9]:
percentile_99 = df.Income.quantile(0.99)
percentile_99

9400479.999999994

In [10]:
df_no_outlier = df[df.Income <= percentile_99]
df_no_outlier

    Name  Income
0    Rob    5000
1  Rafiq    6000
2   Nina    4000
3  Sofia    7500
4  Mohan    8000
5    Tao    7000

In [11]:
df["Income"][3] = np.NaN
df

C:\Users\dharm\AppData\Local\Temp\ipykernel_10416\3478866125.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["Income"][3] = np.NaN

        Name      Income
0        Rob      5000.0
1      Rafiq      6000.0
2       Nina      4000.0
3      Sofia         NaN
4      Mohan      8000.0
5        Tao      7000.0
6  Elon Musk  10000000.0

In [12]:
df.Income.mean()

1671666.6666666667

In [13]:
df_new = df.fillna(df.Income.mean())
df_new

        Name        Income
0        Rob  5.000000e+03
1      Rafiq  6.000000e+03
2       Nina  4.000000e+03
3      Sofia  1.671667e+06
4      Mohan  8.000000e+03
5        Tao  7.000000e+03
6  Elon Musk  1.000000e+07

In [14]:
df.Income.median()

6500.0

In [15]:
df_new = df.fillna(df.Income.median())
df_new

        Name      Income
0        Rob      5000.0
1      Rafiq      6000.0
2       Nina      4000.0
3      Sofia      6500.0
4      Mohan      8000.0
5        Tao      7000.0
6  Elon Musk  10000000.0